# Shinobi should be added by the end user
Shinobi*.framework

# We ignore the settings file too
RangeSelector/RangeSelectorSettings.sample.plist

.DS_Store
*~
*.swp
*~.nib

build/

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

*.xcodeproj/xcuserdata/*.xcuserdatad
*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad
*.xcodeproj/project.pbxproj

*.xcuserstate
xcuserdata/
project.xcworkspace/
